/*Div que estão dentro do form*/
form>div, fieldset, fieldset>div{
    margin-bottom: 10px;
    padding: 5px 0;
}

textarea{
    vertical-align: text-top;
    width: 500px;
    height: 150px;
}

input[type=text], input[type=mail], select{
    width: 500px;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: bold;
}

label.obrigatorio{
    color: #AA0000;
}

form{
    width: 700px;
}

fieldset{
    padding-left: 0;
    background: #EEE;
    border: 1px solid #AAA;
}

legend{
    color: #000ACC;
    font: bold;
    font-variant: small-caps;
}

div.cadastro{
    padding-left: 150px;
}
.cadastro label{
    width: 300px;
    text-align: left;
}

h1{
    text-shadow: 0px 0px 5px cyan;
}